body{
    font-family: 'Girassol', cursive;
}
/* Utility classes*/
.img-response{
    max-width: 100%;
}
.hero_image{
    background: url("../public/heroimage.jpg") no-repeat;
    background-size: cover; /* covering all sides*/
    height: 100vh; /* vh-> view port height */
    position: relative;
}
.hero_wrapper{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.hero_wrapper h1{
    font-size: 4.4rem;
    text-align: center;
}
.form_code{
    text-align: center;
}
.postcode{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: .6rem;
    border-radius: 2rem;
    outline: none;
    border: none;
}
.btn{
    width: 40%;
    margin-top: 8px;
    border-radius: 2rem;
    background: cornflowerblue;
    outline: none;
    border: none;
}
.product{
    margin-top: 1rem;
    width:80%;
    margin-left: auto;
    margin-right: auto;

    
}
.product_list{
    float: left;
    width: 32%;
    margin-left: 4rem;
    margin-right: 1rem;


}
.product_list:first-of-type{
    margin-left: 0;
}
@media screen and (max-width: 700px) {
    .product_list{
        width: 100%;
        float: none;
    }
}